/* Fonts */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* Layout */
html { height: 100%; }

body {
  display: flex;
  height: 100%;
  margin: 0;
  flex-direction: column;
}

main {
  margin: 0 2em;
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
}

/* Colours, etc. */
body {
  color: #111;
  background-color: #fff;
}

a { color: #00f; }
a:visited { color: #90f; }

footer {
  color: #eee;
  background-color: #111;
}

footer a, footer a:visited {
  color: #888;
  text-decoration: none;
}

footer a:hover {
  color: #eee;
  text-decoration: underline;
}
